h2 {
	text-align: center;
}

.div_nav_left{
    float: left;
}

.div_nav_right{
    float: right;
}


.tweet iframe {
	margin: auto;
}

.instapost iframe {
  margin: auto !important;
}

.twitter_logo {
	max-width: 50px;
}


body {
  padding-top: 70px;
  padding-bottom: 120px;
}


@media (max-width: 767px) {
  .navi_text {
    font-size: 12px;
}}




.update_buttons {
  -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #4e6096;
  cursor:pointer;
  color:#332133;
  text-align: :right;
  font-family:Arial;
  font-size:20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  text-align: center;
  margin-right: auto; 
  margin-left: auto;
  max-width: 658px;
  padding: 0px;
}

.update_buttons:hover {
  background-color:#f0f7ff;
}

.update_buttons:active {
  position:relative;
  top:1px;
}

#uusia_twiitteja {
  max-width: 500px;
}


  /*#tweet {
    width: 400px !important;
  }
 
  #tweet iframe {
    border: none !important;
    box-shadow: none !important;
  }*/
